@import url('https://fonts.googleapis.com/css?family=Lato');
body{
  padding: 2rem 0;
  margin:0;
  font-family: 'Lato', sans-serif;
	background-color:#222;
}
h1{
  text-align: center;
	color:#fff;
}
#container{
  width:1000px;
  margin:auto;
  height:1800px;
  background-color:#fff;
  
}
#wrapper{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
}
.box{
  width:100px;
  height:100px;
}
.box:hover{
    box-shadow: inset 0 0 1px 2px rgba(161, 139, 191, 0.4)
}
 .box {
    background-color: transparent;
    margin: 50px 0;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
  }
.box:before {
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
.box:after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  } 
