/* Style the body */
body {
    text-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

/* Style the input box */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}